@model AspNetCore.NetCore.WebApp.Areas.Administration.ViewModels.SeedDataModel
@using AspNetCore.NetCore.WebApp.Areas.Administration.ViewModels;

<div class="row">
    @if (Model.Results == null)
    {
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="contentContainer">
                    <form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal">
                        <h4>Execute SeedData</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <h4>Password = "password"</h4>
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default">Execute</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
            <div class="CrudContainer_Summaries contentContainer Oib">
                <h2 class="styleHeadingElegant">SeedData Results</h2>
                <table class="WebGrid table table-style">
                        <thead class="WebGridHeader">
                            <tr class="WebGridRow">
                                <th>Entity</th>
                                <th>AddSuccessCount</th>
                                <th>AddFailureCount</th>
                            </tr>
                        </thead>
                        @{ for (int i = 0; i < Model.Results.Count; i++)
                            {
                                <tr class="WebGridRow">
                                    <td>
                                        @Model.Results[i].Entity
                                    </td>
                                    <td>
                                        @Model.Results[i].AddSuccessCount
                                    </td>
                                    <td>
                                        @Model.Results[i].AddFailureCount
                                    </td>
                                </tr>
                            }
                        }
                    </table>
            </div>
        </div>
    }
</div>